<div class="services-container">
  <div class="background-gradient">
    <div class="shadow"></div>
    <div class="header-section">
      <div class="explore-section">
        <h6 class="explore-heading">EXPLORE</h6>
        <h5 class="our-services-heading">Our Services</h5>
      </div>
      <div class="description-section">
        <p>
          Explore Legado’s budget-friendly plumbing and repair plans<br> that keep households and companies happy.
        </p>
        <div class="maintenance-button-container">
          <button class="maintenance-button">MAINTENANCE PLANS</button>
          <img src="assets/imgandlogo/owner.png" alt="Logo">
          <p class="contact-number">(678) 646-1032<br>Sales Representive</p>
        </div>
      </div>
    </div>

    <div class="cards-container">
      <div class="card"> 
        <img src="assets/imgandlogo/water-heater.svg" alt="Logo 1" style="    background-color: white">
        <h3>Water Heater</h3>
        <p>Over a period of time, sediments and calcium accumulate at the bottom and inner walls of the tank</p>
        <button>Read More</button>
      </div>
      <div class="card">
        <img src="assets/imgandlogo/kitchen.svg" alt="Logo 1">
        <h3>Kitched/Lavatory</h3>
        <p>Leaky pipes, faucets, clogged drains, sinks, and fixtures in the kitchen often invite mold growth</p>
        <button>Read More</button>
      </div>
      <div class="card">
        <img src="assets/imgandlogo/tub-shower.svg" alt="Logo 1">
        <h3>Tub/Shower Faucets</h3>
        <p>Over the years, tubs and shower faucets start showing their age, which may not be directly visible.</p>
        <button>Read More</button>
      </div>
      <div class="card">
        <img src="assets/imgandlogo/toilets.svg" alt="Logo 1">
        <h3>Toilets</h3>
        <p>Our experienced plumbing and repair staff are always ready to help you fix the broken toilet, leaking faucets.</p>
        <button>Read More</button>
      </div>
      <div class="card">
        <img src="assets/imgandlogo/exterior-water-line.svg" alt="Logo 1">
        <h3>Exterior Water Line</h3>
        <p>While it is important to keep the external water lines in a good state, our dedicated, professional,</p>
        <button>Read More</button>
      </div>
      <div class="card">
        <h3>Water Heater</h3>
        <p>Over a period of time, sediments & calcium accumulate at the bottom and inner walls of the tank. Our professionals at Legado ensure that you get hot water devoid of any odor or contaminants with our water heater maintenance and repair services. Did you know that you must get your water heaters regularly checked every six months or annually?</p>
        <button>Read More</button>
      </div>
    </div>
  </div>
</div>