<div class="coupon-container">
  <p class="coupon-header">
    WE PROVIDE BEST<br /><span class="green-text">Coupons & offers</span
    ><br /><span class="thirdlinetext"
      >Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span
    >
  </p>
  <div class="coupon-cards">
    <div class="coupon-card">
      <div class="half-circle"></div>
      <div class="left-section">
        <h1
          style="
            color: #004cafb4;
            font-weight: 750;
            font-size: 60px;
            display: flex;
            justify-content: center;
          "
        >
          $25
        </h1>
        <div
          class="coupon-offer"
          style="
            color: #004cafb4;
            font-size: x-large;
            font-weight: bolder;
            display: flex;
            justify-content: center;
          "
        >
          COOL OFFER
        </div>
      </div>
      <div class="vl"></div>
      
      <div class="right-section">
        <div class="coupon-description">
          Coupons First <br />
          Time Customer
        </div>
        <button class="coupon-button">Buy now</button>
      </div>
    </div>
    <div class="second-coupon-card"
      style="display: grid; justify-content: center">
      <div class="half-circle1"></div>
      <h1
        style="
          color: rgb(24, 0, 0);
          font-weight: 750;
          font-size: 40px;
          display: flex;
          justify-content: center;
        "
      >
        10% OFF
      </h1>
      <div
        class="coupon-offer"
        style="font-size: 14px; display: flex; justify-content: center"
      >
        A certain discount for teachers,<br />
        law enforcement and military
      </div>
      <button class="coupon-button">Buy now</button>
    </div>
    <div class="half-circle2"></div>
  </div>
</div>
