<div class="container about-us-container">
  <div class="image-container">
      <img src="assets/imgandlogo/family-members.jpg" alt="About Us Image">
  </div>

  <div class="text-container">
      <h3>ABOUT US</h3>
      <h3>Plumbing</h3>
      <p>
          Family owned, God-fearing small Plumbing Service company servicing Gwinnett County and surrounding areas.
          Blessed to be married to my wife for 15 years, have two boys who are learning the trade, live in an awesome community in Buford, Georgia.
      </p>

      <div class="info-container">
          <div class="info-item" style="margin-right: 10px;">
              <div>
                  <img src="assets/imgandlogo/24-7.svg" alt="Logo">
              </div>
              <p>24/7 service</p>
          </div>
          <div class="info-item">
              <div>
                  <img src="assets/imgandlogo/low-cost-white.svg" alt="Logo">
              </div>
              <p>Affordable prices</p>
          </div>
      </div>
      <button class="read-more-btn">READ MORE</button>
  </div>
</div>