<div class="footer">
    <div class="background-image">
        <div class="shadow"></div>
        <div class="container">
            <div class="logo-container">
                <img src="assets/imgandlogo/logo.png" alt="Logo" class="logo">
                <div class="subscribe">
                    <p>Subscribe Our <br> Newsletter</p>
                    <input type="text" placeholder="Your email address">
                    <button>SEND</button>
                </div>
            </div>
            <hr class="line">

            <div class="sections">
                <div class="section">
                    <h4>About Us</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, et?</p>
                    <div class="icons-container">
                      <div style="background-color: #19E702; padding: 0px 10px 6px 9px;;">
                        <img src="assets/imgandlogo/facebook.svg" alt="Icon">
                      </div>
                      <div style="padding: 0px 9px 8px 9px;">
                        <img src="assets/imgandlogo/instagram.svg" alt="Icon">
                      </div>
                      <div style="padding: 0px 9px 8px 9px;">
                        <img src="assets/imgandlogo/twitter.svg" alt="Icon">
                      </div>
                      <div style="padding: 0px 9px 8px 9px;">
                        <img src="assets/imgandlogo/youtube.svg" alt="Icon">
                      </div>
                    </div>
                  </div>
                <!-- Add the remaining sections as needed -->
                <div class="section">
                    <h4>Quick Links</h4>
                    <ul>
                        <li>About</li>
                        <li>Services</li>
                        <li>Pricing</li>
                        <li>Blog</li>
                    </ul>
                </div>
                <div class="section">
                    <h4>Our Services</h4>
                    <ul>
                        <li>Water Heater</li>
                        <li>Kitchen/Lavatory</li>
                        <li>Tub/Shower Faucets</li>
                        <li>Toilets</li>
                        <li>Exterior Water Line</li>
                    </ul>
                </div>
                <div class="section">
                    <h4>Quick Contact</h4>
                    <div class="contact-container">
                      <div>
                        <img src="assets/imgandlogo/call.svg" alt="Icon">
                      </div>
                      <p>Contact Us<br> P1: (678) 646-1032</p>
                    </div>
                </div>

            </div>

            <div class="policy-container">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Conditions</a>
            </div>
        </div>
    </div>
</div>