<div>
    <div class="blue-container">
      <p style="padding: 30px 50px 0px 50px; margin-bottom: -15px;">
        "Work willingly at whatever you do, as though you were working for the Lord<br> rather than for people.
        Remember that the Lord will give you an inheritance as<br> your reward, and that the <span style="font-size: larger; color: rgb(9, 255, 0);">Master you are serving is Christ.</span>"
      </p>
      <hr style="color: aliceblue; margin: 5%;" />
      <div class="stats-container">
        <div>
          <span>
            <h1 style="margin: 0;padding: 0 ;color: rgb(6, 249, 6);">15<span style="color: white;">+</span></h1>
            <p style="margin: 0;padding: 0;">Years of Experience</p>
          </span>
        </div>
        <div>
          <span>
            <h1 style="margin: 0;padding: 0; color: rgb(6, 249, 6);">3.5<span style="color: white;">K</span></h1>
            <p style="margin: 0;padding: 0;">Happy Clients</p>
          </span>
        </div>
        <div>
          <span>
            <h1 style="margin: 0;padding: 0; color: rgb(6, 249, 6);">400<span style="color: white;">+</span></h1>
            <p style="margin: 0;padding: 0;">Projects Completed</p>
          </span>
        </div>
      </div>
    </div>
  
    <div class="white-container" style="padding: 30px 99px 30px 99px; margin-bottom: -15px;">
      <h6 style="font-weight: lighter; align-items: center;justify-content: center;display:flex;">OUR CLIENTS</h6>
      <h5 style="font-weight: bolder;color: rgb(6, 249, 6);justify-content: center;display:flex;">We Have Worked With Some Awesome Brands</h5>
      <div class="client-logos container" style="margin: 24px 45px;">
        <div class="logo">
          <img src="assets/imgandlogo/01.png" alt="Client Logo 1" />
        </div>
        <div class="logo">
          <img src="assets/imgandlogo/02.png" alt="Client Logo 2" />
        </div>
        <div class="logo">
          <img src="assets/imgandlogo/03.png" alt="Client Logo 3" />
        </div>
        <div class="logo">
          <img src="assets/imgandlogo/04.png" alt="Client Logo 4" />
        </div>
        <div class="logo">
          <img src="assets/imgandlogo/05.png" alt="Client Logo 5" />
        </div>
        <div class="logo">
          <img src="assets/imgandlogo/06.png" alt="Client Logo 6" />
        </div>
      </div>
    </div>
  </div>
  
